*{
	box-sizing: border-box;
}
body{
	font-family: "Oswald", sans-serif;
}

.navbar-inverse .navbar-toggle{}
.navbar{
	color: #fff;
	background: #337ab7;
	margin-bottom: 0;
}
.navbar-inverse{
	border: none;
	height: 80px;
	background-color: #337ab7 ;
}
.navbar-inverse .navbar-brand{
	padding-top: 0;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus{
	color: #fff
}
.navbar-inverse .navbar-nav li a.active{
	color: #fff
}
.navbar-nav>li{
	padding-top: 10px;
}

/*******************************/

/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.home-menu{
	margin-top: 100px;
}
.btn-default{
	    border-color: #337ab7;
}
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  /*border-left: 10px solid #337ab7;*/
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
/*.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #337ab7;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}*/
.btn-group{
	width: 100%;
}
.btn-breadcrumb a{
	color: #337ab7;
}
.btn-breadcrumb .active{
	color: #fff;
	background: #337ab7;
}

.btn-breadcrumb .btn {
  /*padding:6px 12px 6px 24px;*/
  padding:15px;
  width: 11.1%;
}
.btn-breadcrumb .btn:first-child {
  padding:15px;
}
.btn-breadcrumb .btn:last-child {
  padding: 15px;
}

/** Default button **/
/*.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}*/
/*.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #337ab7;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #337ab7;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #337ab7;
}
*/
/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

/*.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}*/

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}

/*******************************/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #fff;
	background-color: #337ab7;
}
.tab-content form{
	margin-top: 40px;
	margin-bottom: 40px;
}



.nav-tabs>li>a{
  border: 1px solid #efefef;
}


/**************************************/
.panel-body .col-md-6{
  padding-left: 0;
}













/*************** footer *******************/
.flex-rw{
  font: 11px "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.flex-rw ul {
  list-style: none;
}

.flex-rw a {
  text-decoration: none;
}

.generic-anchor {
  color: #bbbaba;
}
.generic-anchor .fa{
  color: #fff;
}
.generic-anchor:visited {
  color: #8DB9ED;
}
.generic-anchor:hover {
  color: #ccc;
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}
footer {
  background: #337ab7;
  margin-top: auto;
  width: 100%;
}

.footer-list-top > li {
  padding-bottom: 10px;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  /*color: #2659a0;*/
  font: 2.3vw "Oswald", sans-serif;
  color: #fff;
}

.footer-list-anchor {
  font: 1.3em;
}


.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #2659a0;
  padding: 0 20px;
  color: #fff;
}

.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}

.footer-social-overlap > a {
  font-size: 3em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #fff;
  margin-top: 10px;
  background-color: #fff;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #337ab7;
}

.footer-address {
  display: inline;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em;
  }

  .footer-list-anchor {
    font-size: 1.1em;
  }

  .footer-social-connect {
    font-size: 2.5em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em;
  }

  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
    font-size: 3em;
  }

  .footer-list-anchor {
    font-size: 1.5em;
  }

  .footer-social-section {
    justify-content: center;
  }

  .footer-social-section::after {
    top: 25%;
  }

  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }

  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }

  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }

  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }

  .footer-bottom-rights {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em;
  }

  .footer-list-anchor {
    font-size: 1.2em;
  }

  .footer-social-connect {
    font-size: 2.4em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}
/******************************/
.sub-footer{
	padding: 15px 0;
	color: #337ab7
}